*{
    margin: 0;
    list-style: none;
    text-decoration: none;
}

/*头部样式*/
.header_area{
    *border: solid 1px saddlebrown;
    background-color: rgba(0,160,233,0.8);
}
.header_area .menu-list{
    *border:solid 1px green;
    width: 640px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
}
.header_area .menu-list>li{
    margin-top: 20px;
    margin-right: 68px;
    display: inline-block;
}
.header_area .menu-list li>a{
    color: white;
}
.header_area .menu-list li>a:hover{
    color: black;
}
.header_area .menu-list li:last-child>a{
    color: red;
}

/*表格*/
.user_info{
    border: solid 1px slategray;
    width: 500px;
    height: 500px;
    margin: auto;
    margin-top: 40px;
    position: relative;
    background-color: rgba(255,255,255,0.8);
    border-radius: 10px;
}
.user_info .table_style{
    *border: solid 1px red;
    width: 450px;
    height: 400px;
    margin: auto;
}
.user_info .table_style div{
    width: 100px;
    height: 30px;
}
.user_info .table_style table{
    margin: auto;
    margin-top: 30px;
    font-family: 楷体;
    font-size: 25px;
    outline:none;
}

.user_info .table_style input{
    background-color: rgba(0,0,0,0);
    outline: none;
    border: none;
    height: 20px;
    margin-bottom: 8px;
}

/*按钮*/
.user_info .updata_button{
    margin-left: 220px;
    margin-right: auto;
    width: 200px;
    height: 50px;
    border-radius: 10px;
}
.user_info .updata_button:hover{
    cursor: pointer;
}

